In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [83]:
df_covid = pd.read_csv("COVID_county_data.csv")
df_census = pd.read_csv("acs2017_census_tract_data.csv", usecols = ['TractId', 'State', 'County','TotalPop','Poverty','IncomePerCap'])

# x = population * poverty rate by tract <- number of impoverished people
# y = sum of all population per county
# z = x / y <- impoverished over total pop <- poverty percentage

df_census['x'] = df_census['TotalPop'] * df_census['Poverty']

df_census = df_census.groupby(['State','County']).agg(
    {
        'TractId': 'first',
        'TotalPop':sum,
        'x':sum,
        'IncomePerCap': 'mean'
    }
,dropna = True).reset_index()


df_census['Poverty'] = df_census['x'] / df_census["TotalPop"]
del df_census['x']

df_census['County'] = df_census['County']+ ', '+ df_census['State']
df_census = df_census.drop(['State'], axis = 1)
df_census = df_census.reindex(columns = ['TractId', 'County', 'TotalPop', 'Poverty', 'IncomePerCap'])
# df_census.head()

df_census = df_census.sort_values(by = ['TotalPop'], ascending=True)

df_census.head()

          TractId                      County  TotalPop  Poverty  IncomePerCap
2751  48301950100        Loving County, Texas        74     17.1       35530.0
548   15005031900      Kalawao County, Hawaii        86     12.7       46024.0
2735  48269950100          King County, Texas       289      3.5       29918.0
1656  31005958300     Arthur County, Nebraska       421     10.9       21799.0
1713  31117957900  McPherson County, Nebraska       432     16.0       27241.0